{% extends 'base2.html.twig' %}
{% block title %}Ajout Fiche Collecte
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">

                         <h1>Edit FicheCollecte</h1>

    {{ include('fiche_collecte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fiche_collecte_index') }}">back to list</a>

    {{ include('fiche_collecte/_delete_form.html.twig') }}

    <a href="{{ path('app_fiche_collecte_index') }}">back to list</a>
                            </div>
                           
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}