{% extends 'base2.html.twig' %}

{% block title %}Offre{% endblock %}

{% block content %}

<div class="page-wrapper" style="width: 919px;">
	<div class="content container-fluid pb-0">
		<div class="card">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb"></ol>
				</nav>
			</div>
			<div class="content">
				<div class="container-fluid">
					<div class="row" style="justify-content: center;">
						<div class="page-header">
							<div class="row align-items-center">
								<div class="col-md-12 d-flex justify-content-end">
									<div class="text-right">
										<a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_offre_index') }}">
											<i class="feather-corner-up-left "></i>
											Liste offres
										</a>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<div class="card">
						<div class="card-body">
							<table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" ="grid" aria-describedby="DataTables_Table_0_info">

								<tbody>
									<tr>
                <th>IdOffre</th>
                <td>{{ offre.idOffre }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ offre.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img width="50px" height="50px" src="{{ asset('/images/' ~ offre.image) }}"  alt="">  </td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ offre.points }}</td>
           </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <a href="{{ path('app_offre_index') }}">back to list</a>

    <a href="{{ path('app_offre_edit', {'idOffre': offre.idOffre}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
