{% extends 'base2.html.twig' %}

{% block title %}CategorieOffres index{% endblock %}

{% block content %}
    <h1>Categorie_Offres index</h1>

 <div class="page-wrapper">
    <div class="content container-fluid pb-0">
        <h4 class="mb-3">Categorie_Offres</h4>
        <div class="row">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-md-12 d-flex justify-content-end">
                        <div class="text-right">
                            <a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_categorie_offres_new') }}">
                                <i class="feather-plus-square me-1"></i>
                                Ajouter Categorie_Offres
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <table class="table datatable-basic table table-borderless hover-table" id="datatable">
                    <div class="card-body">
                        <div class="header-elements">
                            <thead class="thead-light">
                                <tr>
                                        <th>IdCategorie</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                        <th>actions</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for categorie_offre in categorie_offres %}
                                    <tr>
                                        <td>{{ categorie_offre.idCategorie }}</td>
                                        <td>{{ categorie_offre.nom }}</td>
                                        <td>{{ categorie_offre.description }}</td>

                                      <td style="display: inline-flex;margin-left: 78px;" colspan="3">

                                        <a href="{{ path('app_categorie_offres_show', {'idCategorie': categorie_offre.idCategorie }) }}"
                                            class="btn btn-sm bg-primary-light">
                                            <i class="far fa-eye"></i>
                                        </a>
                                        &nbsp;
                                        <a href="{{ path('app_categorie_offres_edit', {'idCategorie': categorie_offre.idCategorie}) }}"
                                            class="btn btn-sm bg-info-light">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        &nbsp;
                                          {{ include('categorie_offres/_delete_form.html.twig') }}      
                                    </td>
                                            </td>  
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
